{{ define "main" }}
<head>
    <style>
    *{margin:0;padding:0}
    html, body {height:100%;width:100%;overflow:hidden}
    table {height:100%;width:100%;table-layout:static;border-collapse:collapse}
    iframe {height:100%;width:100%}
    .content {height:100%}
    </style>
    </head>
      <body>
    <object
        data="https://raw.githubusercontent.com/karynaur/junk_files/refs/heads/main/Aditya_Research.pdf"
        type="application/pdf">
        <iframe src="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/karynaur/junk_files/refs/heads/main/Aditya_Research.pdf&embedded=true"></iframe>
    </object>
      </body>
{{ end }}
