{{ define "main" }}

    <style>
    .pdf {height:100%;width:100%}

    </style>
    <script type="text/javascript">
        const viewerConfig = {
            embedMode: "FULL_WINDOW"
        };
        document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
            var adobeDCView = new AdobeDC.View({clientId: "9d040aa05c79465f86b8bfaff4fc97ba", divId: "adobe-dc-view"});
            adobeDCView.previewFile({
                content:{location: {url: "/Aditya_Research.pdf"}},
                metaData:{fileName: "Aditya_Research.pdf"}
            }, {defaultViewMode: "FIT_WIDTH",showAnnotationTools: false});
        }, viewerConfig);
    </script>
    <script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>

    
    <div id="adobe-dc-view" style="height: 82vh; width: 100vw;"></div>
        
        
    {{ end }}
